---
layout: archive
permalink: /home/
---

<img src="/images/main/BlogAuthor.png" alt="DevIsland"/>

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}

<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
  <head>
    <style>
        body {
          background-image: url('images/BannerMain1.png');
          background-repeat: repeat;
        }
        </style>
  </head>
  </html>
